#container { width: 100%; float: left; margin-right: -228px; }
#content { margin-right: 228px; }
#sidebar { width: 228px; float: right; margin-top:-40px; }
#footer {}
body { behavior: url("images/csshover2.htc"); background:#f6f9ff;}
img {border:0px; behavior: url("iepngfix/iepngfix.htc") }
#book { position:absolute; left:45%; top:-20px; z-index:3; }
#search { position:absolute; right:10%; top:100px; z-index:3; height:20px; vertical-align:middle; }
.search_field { font-size:11px; color:#959595; background:#ffffff; border:1px solid #b3bcd3; height:14px; padding-left:5px; font-family:arial; padding-top:3px; }
.head1 { position:absolute; left:8px; top:7px; z-index:2; }
.head2 { position:absolute; right:8px; top:7px; z-index:2; }
.search_button { background: #015da8; font-size:11px; height:20px; border:1px solid #b3bcd3; font-family:arial; color:#dfe6f4; }
#n { position:absolute; right:2%; top:75px; z-index:3; }
#logo { position:absolute; left:3%; top:60px; z-index:3; }
#line { background:#015da8; width:100%; height:15px; z-index:3;}
#wrapper_menu { background:URL('images/menu_bg.png'); background-repeat: repeat-x; width:100%; height:52px; text-align:center;}
#menu_list {margin:0 auto; text-align:center; width:780px;height:52px; }
#menu { height: 43px; behavior: url('images/csshover2.htc'); width:100%; margin:0 auto; }
#menu ul, li {margin: 0px; padding: 0px }
ul.menu {float: left; }
#menu ul.menu li { display: block; margin: 0px; height: 30px; float: left; text-align: center; padding-left:2px; padding-right:2px; }
#menu ul.menu li:hover { }
#menu ul.menu li:hover ul.submenu { display: block; margin-top: 30px; z-index:4; background:transparent; }
#menu ul.menu li ul.submenu { display: none; position: absolute; width:210px; }
#menu ul.menu li ul.submenu li {display: block; float: none; width:210px; }
.menu_links { float:left; display:inline; font-family:tahoma; color:#004a80; text-decoration:none; padding-top:13px; padding-left:1.5px; padding-right:1.5px; height:52px;
font-size:15px; font-family:tahoma; color:#004a80; text-decoration:none;}
.menu_links:hover { float:left; color:#cb2323; text-decoration:none; }
.menu_img { float:left; vertical-align:middle; }
#wrapper_head { width:100%; height:154px; background:URL('images/head2.jpg'); }
.head_items { position:relative; width:100%; background:url('images/fon.png') no-repeat; height:154px; background-position:center; z-index:1; }
.menu_main { width:100%; height:52px; }
.pop_up_pic { z-index:2; height:14px; }
.pop_up_pic2 { z-index:2; height:10px; margin-top:-5px; }
.pop_links { background:URL('images/menu_pop_middle.png'); z-index:2; padding:10px; padding-top:14px; border-bottom: 1px dotted #ced8ed; }
.pop_links a { color:#0f5588; font-family:tahoma; font-size:12px;
padding-left:50px; padding-right:50px; text-decoration:none; text-align:left; width:210px; font-weight:bold; height:30px; margin-left:-70px;}
.pop_links a:visited { font-weight:bold; color:#0f5588; font-family:tahoma; font-size:12px;
padding-left:50px; padding-right:50px; text-decoration:none; text-align:justify; height:30px; }
.pop_links a:hover { font-weight:bold; color:#cb2323; }
.new_content {position:relative; }
.news_head { background:URL('images/right_top.png'); width:228px; height:18px; }
.right_bg { background:URL('images/right_middle.png'); width:228px; }
.right_news {z-index:2; }
.right_news_title { background:#015da8; width:218px; height:30px; margin-left:2px; }
.right_news_title_text { color:#fff; padding-left:25px; padding-top:5px; font-family:verdana; font-size:14px; }
.right_news_end {background:URL('images/rigt_end.png'); height:14px; width:228px; }
.right_banner_title { background:#a2bdf4; width:218px; height:30px; margin-left:2px; }
.right_content_info {margin-left:37px; margin-top:10px; padding-bottom:10px;
font-family:verdana; font-size:12px; width:175px; }
.right_content_info_slice {margin-left:25px; border-bottom:1px dotted #a2bdf4; font-family:verdana; font-size:12px; width:175px; }
.in_right {color:#015da8; font-family:verdana; font-size:12px; text-decoration:underline; }
.in_right:hover {color:#015da8; font-family:verdana; font-size:12px; text-decoration:none; }
.in_right_text {color:#015da8; font-family:verdana; font-size:11px; font-weight:bold; padding-top:15px; padding-left:25px; }
.in_right_text2 {color:#797979; font-family:verdana; font-size:11px; margin-right:25px; padding-top:5px; padding-left:25px; padding-bottom:15px; }
.in_right_text2 a {color:#797979; font-family:verdana; font-size:11px; }
.in_right_text2 a:hover {color:#797979; font-family:verdana; font-size:11px; text-decoration:none;}
.middle { margin-left:60px; margin-right:10px; }
#news_bg2 { background:#ffffff; box-shadow:#a3a3a3 3px 3px 10px; -moz-box-shadow:#a3a3a3 3px 3px 10px; -webkit-box-shadow:#a3a3a3 3px 3px 10px; behavior: url('images/ie-css3.htc'); border:1px solid #d1daee;}
#news_bg_mar {padding-top:10px;}
.table {padding-left:20px; text-align:justify; margin-top:15px; font-size:14px; font-family:times; padding-right:20px; }
.table tr.even { background-color:#f3f6fc; }
.sod { 
height:30px;}
.table tr.odd { background-color:#dee4f1; }
.list { background:URL('images/bullet.png'); background-position:top center; background-repeat:no-repeat; height:30px; }
.soderj { margin-left:65px; padding-top:5px; padding-bottom:10px; color:#015da8; font-family:arial; font-size:12px; }
.soderj a { color:#015da8; font-family:arial; font-size:12px; }
.soderj a:hover { color:#015da8; font-family:arial; font-size:12px; text-decoration:none; }
.some_info {
padding-top:25px;
font-size:14px; font-family:times; margin-left:-100px; text-align:justify; margin-right:20px;}
.some_info span {}
.link_left { font-size:18px; font-family:georgia; color:#015da8; margin-bottom:15px; padding-left:0px; line-height:60px;}
.link_left a { font-size:18px; font-family:georgia; color:#015da8; }
.link_left a:hover { font-size:18px; font-family:georgia; color:#015da8; text-decoration:none; }
.number {margin-left:10px; margin-right:235px; }
.number_content { font-size:20px; font-family:tahoma; color:#cb2323; padding-left:15px; }
.number_content_red { font-size:20px; font-family:tahoma; padding-left:12px; padding-right:12px; padding-top:5px; padding-bottom:5px; background:URL('images/red_square.png') no-repeat; color:#ffffff; }
.number_content_year { font-size:20px; font-family:tahoma; color:#0f5588; }
.title_content { font-family:Georgia; font-size:20px; padding-left:65px; }
hr {border:1px solid #0f5588; }
.footer { position:relative; height:127px; background:url('images/foot2.jpg'); width:100%; }
.foot_left { position:absolute; left:0px; }
.foot_text { font-family:arial; font-size:12px; color:#5f6a83; text-align:center; position:absolute; left:30%; top:50px; }
.foot_link { font-family:arial; font-size:12px; color:#5f6a83; }
.foot_right { position:absolute; right:0px; }
.arch_year { height:40px; color:#fff; font-size:20px; width:80px; background:#015da8; font-family:tahoma; margin-top:70px; }
.arch_numbers {margin-top:20px; margin-left:60px; padding-left:10px; padding-right:10px;
}
.number_content_arch { font-size:14px; font-family:tahoma; color:#cb2323; padding-left:15px; font-weight:bold; padding-top:30px;
display:inline; margin-top:10px; line-height:60px; height:100px; vertical-align:super; }
.number_content_red_arch { font-size:14px;
font-family:tahoma; padding-left:7px; padding-right:7px; padding-top:2px; padding-bottom:5px; background:URL('images/red_mini.png') no-repeat; color:#ffffff; font-weight:bold; }
.line_links a { color:#fff; }
.line_links a:hover { color:#fff; text-decoration:none; font-family:arial;
font-size:12px; }
.razdel { font-size:20px; font-family:arial; width:60%; padding-bottom:20px;
}
#publication { margin-right:75px; list-style:none; border-top:1px; border-bottom:1px; border-left:0px; border-right:0px; border-style:solid; border-color:#bbbdbd; padding:15px; background:#f6f9ff; cursor:pointer;}
#publication:hover {
background-color:#e5f3ff;
}
.avtor { font-size:12px; font-family:times; color:#363636; padding-bottom:25px;}
.avtor a { font-size:12px; font-family:times; color:#363636; }
.avtor span {font-weight:bold; }
.pub_title { width:80%; font-size:14px; font-family:times; color:#015da8; font-weight:bold; }
.pub_title a { font-size:14px; font-family:times; color:#015da8; font-weight:bold; }
.pub { width:90%; margin-left:50px; margin-top:10px; color:#363636; font-family:times; }
.dop_inform a { color:#015da8; }
.dop_inform span { color:#015da8; }
.dop_inform { padding-bottom:20px; }
.tags { width:100%; margin-left:50px; margin-top:30px; color:#363636; font-style:italic; }
.tags span {font-style:normal; }
.dop {height:35px; margin-top:10px;font-size:12px;font-family:arial; color:#363636; padding-left:50px; }
.dop a { padding-left:10px; font-size:12px; margin-top:10px; color:#363636; font-family:arial; }
.line_links a { color:#fff; }
.line_links a:hover { color:#fff; text-decoration:none; font-family:arial;
font-size:12px; }
.pdf { vertical-align: super; }
.page { vertical-align: super; padding-left:50px; }
.page_num { display:inline; border:1px solid #abc5db; background:#ffffff; padding-left:10px; padding-right:10px; padding-top:2px; padding-bottom:2px; }
.line_links { padding-top:10px; padding-bottom:10px; padding-left:10px;font-family:arial; font-size:12px; background:#79a9d3; color:#fff; font-weight:bold; }
.pic_info { width:85%; }
.pic_info2 { width:85%; margin-top:60px; }
.avatara { float:left; }
.avtor_name_p { font-family:verdana; font-size:20px; color:#363636; padding-left:100px; }
.avtor_name { font-family:verdana; font-size:20px; color:#015da8;}
.avtor_dop_info2 { font-family:verdana; font-size:14px; color:#363636; }
.avtor_dop_info2 li { padding-top:10px; }
.avtor_dop_info { font-family:verdana; font-size:14px; color:#363636; margin-left:100px; }
.avtor_dop_info li {padding:3%; }
#avtor_about { margin-top:60px; text-align:justify; margin-right:20px; font-family:verdana; font-size:12px; }
.forma table {margin-top:15%; padding-left:30px;; }
.forma td {
width:150px; height:40px; font-family:arial; font-size:14px; color:#707070; font-weight:bold; text-align:right;
padding-right:20px; }
.input { border:1px solid #bdc7dd; background:#fff; width:150px; height:20px; color:#707070;}
.forma select { border:1px solid #bdc7dd; background:#fff; width:150px; height:20px; color:#707070; }
.search_content { float:left; width:100%; padding-top:20px; }
.search_bg_left { float:left; width:31px; height:560px; background:URL('images/search_bg_left.jpg'); }
.search_bg_center { float:left; width:64%; height:560px; background:URL('images/search_bg.png'); text-align:center; }
.search_bg_right { float:left; width:142px; height:560px; background:URL('images/search_bg_right.png'); }
.search_pubs { width:75%; padding-left:150px; font-family:arial; font-size:14px; color:#0f5588; }
.search_pubs span {font-weight:bold; }



#main { margin-left: 150px; }
#left { width: 210px; float: left; margin-top:10px; }
h1 { margin-top: 0; }
.last { margin-bottom: 0; }
.clearing { height: 0; clear: both; }
