
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <!--[if IE 7]>
  <style>
    #menu ul.menu li ul.submenu {display: block; float: none; width:210px; margin-left:-145px;}
    .head1 {padding-top:7px;}
    .head2 {padding-top:7px;}
  </style>
  <![endif]-->
  <!--[if IE 6]>
  <style>
    #menu ul.menu li ul.submenu {display: block; float: none; width:210px; margin-left:-145px;}
    .head1 {padding-top:7px;}
    .head2 {padding-top:7px;}
  </style>
  <![endif]-->
  <title>Main - Journal "Economy of region"</title>
  <script type="text/javascript" src="../../style/rounded-corners-min.js"> </script>
  <meta http-equiv="Content-Type" content="text/html; windows-1251" />
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18654621-1']);
    _gaq.push(['_setDomainName', '.economyofregion.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <script type="text/javascript">
    function clear_comment() {
      elem = document.getElementById('qsearch');
      if ( elem.value == 'Search...') {
        elem.value = '';
        elem.style.color = "black";
      }
      return;
    }
  </script>
  <link rel='stylesheet' href=../../style/style.css?v=1' type='text/css' />

</head>
<body>
<div id="header">
  <div id="wrapper_head">
    <div class="head1"> <img src="../../style/images/head1.png" alt="" /> </div>
    <div class="head_items">
      <div id="book"> <a href="http://economy.local:8888/"><img src="../../style/images/book.png" alt="" /> </a></div>
      <div id="search">
        <form action="http://economy.local:8888/search/" method="post">
          <div>
            <input type="hidden" name="action" value="search" />
            <input type="text" name="q" id="qsearch" class="search_field" onfocus="javascript: clear_comment()" value="Search..." />
            <input type="submit" class="search_button" value="..." />
          </div>
        </form>
      </div>
      <div id="n"> <a href="http://www.uiec.ru/"><img src="../../style/images/n.png" alt="" /></a> </div>
      <div id="logo"> <a href="http://economy.local:8888/"><img src="../../style/images/logo.png" alt="" /> </a></div>
    </div>
    <div class="head2"> <img src="../../style/images/head3.png" alt="" /> </div>
  </div>
  <div id="line"></div>
</div>

<div id="wrapper_menu">
  <div id="menu"> <ul class="menu">
    <li><img src="../../style/images/menu_slice.png" alt=""/></li>
    <li><a class="menu_links" href="http://economy.local:8888/about/">Aims and scope</a></li>
    <li><img src="../../style/images/menu_slice.png" alt=""/></li><li><a class="menu_links" href="http://economy.local:8888/editorial_board/">Editorial board</a></li>
    <li><img src="../../style/images/menu_slice.png" alt=""/></li><li><a class="menu_links" href="http://economy.local:8888/current/">Current issue</a></li>
    <li><img src="../../style/images/menu_slice.png" alt=""/></li><li><a class="menu_links" href="http://economy.local:8888/archive/">Archive</a></li>
    <li><img src="../../style/images/menu_slice.png" alt=""/></li><li><a class="menu_links" href="http://economy.local:8888/Ethical_guidelines/">Ethical guidelines</a></li>
    <li><img src="../../style/images/menu_slice.png" alt=""/></li><li><a class="menu_links" href="http://economy.local:8888/for_authors/">Guide for authors</a></li>
    <li><img src="../../style/images/menu_slice.png" alt=""/></li><li><a class="menu_links" href="http://economy.local:8888/contacts/">Contacts</a></li>
    <li><img src="../../style/images/menu_slice.png" alt=""/></li>
  </ul> </div>
</div>



<div>
  <p class="pxl-header">Volume 15, Issue 4, 2019</p>
  <hr>
</div>
<div id="container">
  <div id="content">
    <div id="left">
      <div class="image_left"> <img src="../../style/images/image_left.png" alt="" /> </div>
      <div class="some_info"> <span class="link_left">&rarr; <a href="http://economy.local:8888/about/">About</a></span><br />
        <br />
      </div>
    </div>
    <div id="main">
      <div class="middle pxl-center">
        <div class="pxl-articles">
          <ul class="pxl-list">
            <li class="pxl-item">
              <div class="pxl-left">
                <a href="" class="pxl-article-header">Influence of Anthropogenic Factors of the Industrial Production on the Quality of Life of the Population in the Region</a>
                <p class="pxl-label">Authors</p>
                <ul class="pxl-authors">
                  <li>I.S. Belik</li>
                  <li>L.V. Kamdina</li>
                  <li>N.V. Starodubets</li>
                </ul>
              </div>
              <div class="pxl-middle">
                <p class="pxl-label">For citation</p>
                <p class="pxl-desc">Зернес С.П. Многообразие авторско-издательских финансовых отношений в авторитетных журналах США и Западной Европы. Научный редактор и издатель. 2019;4(1-2):6-11.</p>
                <p class="pxl-label">DOI</p>
                <a href="" class="pxl-link">https://doi.org/10.24069/2542-0267-2019-1-2-6-11</a>
              </div>
              <div class="pxl-right">
                <p class="pxl-label">References</p>
                <ul class="pxl-references">
                  <li>1. Tochka zreniya. Platnye publikatsii...</li>
                  <li>2. Solomon D., B'ork B.-K. Razmer platy ...</li>
                  <li>3. Taichman D., Jackson J., Cotton D...</li>
                  <li>4. McCook A. A journal retracted a paper ...</li>
                </ul>
                <a href="" class="pxl-source">+21 sources</a>
              </div>
            </li>
            <li class="pxl-item">
              <div class="pxl-left">
                <a href="" class="pxl-article-header">Russian Economic Space: Strategic Impasses</a>
                <p class="pxl-label">Authors</p>
                <ul class="pxl-authors">
                  <li>P. A. Minakir</li>
                </ul>
              </div>
              <div class="pxl-middle">
                <p class="pxl-label">For citation</p>
                <p class="pxl-desc">Лазарев В.С. Власть библиометрических иллюзий над ленивыми, профанация плодотворных идей и проклятье «парабиблиометрической» оценки науки. Научный редактор и издатель. 2019;4(1-2):12-20.</p>
                <p class="pxl-label">DOI</p>
                <a href="" class="pxl-link">https://doi.org/10.24069/2542-0267-2019-1-2-12-20</a>
              </div>
              <div class="pxl-right">
                <p class="pxl-label">References</p>
                <ul class="pxl-references">
                  <li>1. Lazarev V. S., Nikolaichik V. V...</li>
                  <li>2. Tyutyunnik V. M. Predislovie nauchnog ...</li>
                  <li>3. Motylev V. M. Problemy...</li>
                  <li>4. Lazarev V. S. Uchet zakazov na kopii ...</li>
                </ul>
                <a href="" class="pxl-source">+15 sources</a>
              </div>
            </li>
            <li class="pxl-item">
              <div class="pxl-left">
                <a href="" class="pxl-article-header">Distribution of Technological Competencies in the Field of the Antidiabetic Drugs Development in the Regions of the Russian Federation ?</a>
                <p class="pxl-label">Authors</p>
                <ul class="pxl-authors">
                  <li>I.S. Belik</li>
                  <li>L.V. Kamdina</li>
                  <li>N.V. Starodubets</li>
                </ul>
              </div>
              <div class="pxl-middle">
                <p class="pxl-label">For citation</p>
                <p class="pxl-desc">Кириллова О.В. О влиянии языка статей на показатели научных журналов в международных наукометрических базах данных. Научный редактор и издатель. 2019;4(1-2):21-33.</p>
                <p class="pxl-label">DOI</p>
                <a href="" class="pxl-link">https://doi.org/10.24069/2542-0267-2019-1-2-6-11</a>
              </div>
              <div class="pxl-right">
                <p class="pxl-label">References</p>
                <ul class="pxl-references">
                  <li>1. Tochka zreniya. Platnye publikatsii...</li>
                  <li>2. Solomon D., B'ork B.-K. Razmer platy ...</li>
                  <li>3. Taichman D., Jackson J., Cotton D...</li>
                  <li>4. McCook A. A journal retracted a paper ...</li>
                </ul>
                <a href="" class="pxl-source">+21 sources</a>
              </div>
            </li>
            <li class="pxl-item">
              <div class="pxl-left">
                <a href="" class="pxl-article-header">Influence of Anthropogenic Factors of the Industrial Production on the Quality of Life of the Population in the Region ?</a>
                <p class="pxl-label">Authors</p>
                <ul class="pxl-authors">
                  <li>P. A. Minakir</li>
                </ul>
              </div>
              <div class="pxl-middle">
                <p class="pxl-label">For citation</p>
                <p class="pxl-desc">Зернес С.П. Многообразие авторско-издательских финансовых отношений в авторитетных журналах США и Западной Европы. Научный редактор и издатель. 2019;4(1-2):6-11.</p>
                <p class="pxl-label">DOI</p>
                <a href="" class="pxl-link">https://doi.org/10.24069/2542-0267-2019-1-2-12-20</a>
              </div>
              <div class="pxl-right">
                <p class="pxl-label">References</p>
                <ul class="pxl-references">
                  <li>1. Lazarev V. S., Nikolaichik V. V...</li>
                  <li>2. Tyutyunnik V. M. Predislovie nauchnog ...</li>
                  <li>3. Motylev V. M. Problemy...</li>
                  <li>4. Lazarev V. S. Uchet zakazov na kopii ...</li>
                </ul>
                <a href="" class="pxl-source">+15 sources</a>
              </div>
            </li>
            <li class="pxl-item">
              <div class="pxl-left">
                <a href="" class="pxl-article-header">Influence of Anthropogenic Factors of the Industrial Production on the Quality of Life of the Population in the Region</a>
                <p class="pxl-label">Authors</p>
                <ul class="pxl-authors">
                  <li>I.S. Belik</li>
                  <li>L.V. Kamdina</li>
                  <li>N.V. Starodubets</li>
                </ul>
              </div>
              <div class="pxl-middle">
                <p class="pxl-label">For citation</p>
                <p class="pxl-desc">Кириллова О.В. О влиянии языка статей на показатели научных журналов в международных наукометрических базах данных. Научный редактор и издатель. 2019;4(1-2):21-33.</p>
                <p class="pxl-label">DOI</p>
                <a href="" class="pxl-link">https://doi.org/10.24069/2542-0267-2019-1-2-6-11</a>
              </div>
              <div class="pxl-right">
                <p class="pxl-label">References</p>
                <ul class="pxl-references">
                  <li>1. Tochka zreniya. Platnye publikatsii...</li>
                  <li>2. Solomon D., B'ork B.-K. Razmer platy ...</li>
                  <li>3. Taichman D., Jackson J., Cotton D...</li>
                  <li>4. McCook A. A journal retracted a paper ...</li>
                </ul>
                <a href="" class="pxl-source">+21 sources</a>
              </div>
            </li>
            <li class="pxl-item">
              <div class="pxl-left">
                <a href="" class="pxl-article-header">Russian Economic Space: Strategic Impasses</a>
                <p class="pxl-label">Authors</p>
                <ul class="pxl-authors">
                  <li>P. A. Minakir</li>
                </ul>
              </div>
              <div class="pxl-middle">
                <p class="pxl-label">For citation</p>
                <p class="pxl-desc">Лазарев В.С. Власть библиометрических иллюзий над ленивыми, профанация плодотворных идей и проклятье «парабиблиометрической» оценки науки. Научный редактор и издатель. 2019;4(1-2):12-20.</p>
                <p class="pxl-label">DOI</p>
                <a href="" class="pxl-link">https://doi.org/10.24069/2542-0267-2019-1-2-12-20</a>
              </div>
              <div class="pxl-right">
                <p class="pxl-label">References</p>
                <ul class="pxl-references">
                  <li>1. Lazarev V. S., Nikolaichik V. V...</li>
                  <li>2. Tyutyunnik V. M. Predislovie nauchnog ...</li>
                  <li>3. Motylev V. M. Problemy...</li>
                  <li>4. Lazarev V. S. Uchet zakazov na kopii ...</li>
                </ul>
                <a href="" class="pxl-source">+15 sources</a>
              </div>
            </li>
          </ul>
        </div>
      </div>

  </div>
</div>
</div>
<div id="sidebar">
  <div class="news_head"> <img src="../../style/images/right_top.png" alt="" /> </div>
  <div class="right_bg">
    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="http://www.scopus.com" title="Scopus"><img src="../../style/banners/logo_scopus.gif" alt="" ></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="http://ip-science.thomsonreuters.com/cgi-bin/jrnlst/jlresults.cgi" title="esci"><img src="../../style/banners//esci.png" alt="" ></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="http://ulrichsweb.serialssolutions.com/login" title="Ulrichsweb"><img src="../../style/banners/logo-ulrichsweb.gif" alt="" /></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="https://www.ebsco.com/" title="Ebsco"><img src="../../style/banners/ebsco_logo.png" alt="" /></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="http://repec.org/" title="RePEc"><img src="../../style/banners/repec.gif" alt="" /></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="http://citec.repec.org/" title="CitEc"><img src="../../style/banners//CitEc.jpg" alt="" /></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="https://www.ceeol.com/search/journal-detail?id=1446" title="ceeol"><img src="../../style/banners//ceeol.png" alt="" /></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="https://doaj.org/toc/2411-1406?source=%7B%22query%22%3A%7B%22filtered%22%3A%7B%22filter%22%3A%7B%22bool%22%3A%7B%22must%22%3A%5B%7B%22term%22%3A%7B%22index.issn.exact%22%3A%222411-1406%22%7D%7D%2C%7B%22term%22%3A%7B%22_type%22%3A%22article%22%7D%7D%5D%7D%7D%2C%22query%22%3A%7B%22match_all%22%3A%7B%7D%7D%7D%7D%2C%22from%22%3A0%2C%22size%22%3A100%7D" title="doaj"><img src="../../style/banners//doaj.png" alt="" /></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="http://www.elibrary.ru" title="Elibrary" ><img src="../../style/banners/logo_elibrary.gif" alt="" /></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="http://cyberleninka.ru/" title="Cyberleninka"><img src="../../style/banners/CL_banner_320x50.jpg" alt="" /></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="http://www.uiec.ru" title="Institue of economics of the Ural Branch of the Russian Academy of Sciences"><img src="../../style/banners/logo_uiec_3.png" alt=""/></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="http://urfu.ru/en/" title="Ural federal university"><img src="../../style/banners/logo_urfu.png" alt="" /></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="http://uralces.ru/en-us/default" title="Center of economic Security"><img src="../../style/banners/logo_uralces.gif" alt="" /></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="http://www.ras.ru" title="Russian Academy of Sciences"><img src="../../style/banners/logo_ras.png" alt="" /></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="http://www.crossref.org/" title="CrossRef"><img src="../../style/banners/CrossRef.jpg" alt="" /></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="https://publicationethics.org/" title="cope-logo-web-350"><img src="../../style/banners//cope-logo-web-350.png" alt="" /></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="http://rasep.ru/" title="asep"><img src="../../style/banners//asep.png" alt="" /></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="https://www.ugmk.com/" title="UMMC"><img src="../../style/banners/UMMC.jpg" alt="" /></a></div>

    <div class="right_content_info_slice"> </div>
    <div class="right_content_info">
      <a href="http://www.scimagojr.com/journalsearch.php?q=21100242818&amp;tip=sid&amp;exact=no" title="SCImago Journal &amp; Country Rank"><img  width="100%" src="http://www.scimagojr.com/journal_img.php?id=21100242818" alt="SCImago Journal &amp; Country Rank"  /></a></div>
    <div class="right_news_end"></div>
  </div>
</div>
<div class="clearing"> &nbsp; </div>
<div id="footer">
  <div class="footer">
    <div class="foot_left"> <img src="../../style/images/foot1.jpg" alt="" /> </div>
    <div class="footer__content">
      <p class="footer__copyright footer__item">
        Copyright (c) 2005-2016 <b><a href="http://uiec.ru" style="text-decoration:none;color:#5F6A83;">Institute of Economics</a></b>, UB RAS. All rights reserved.
      </p>
      <a class="foot_link footer__item" href="http://economy.local:8888/contacts/">Contacts</a>
      <div class="footer__item footer__item--issn">
        <p class="footer__issn">ISSN 2072-6414 (Print)</p>
        <p class="footer__issn">ISSN 2411-1406 (e-ISSN)</p>
      </div>
      <div class="footer__item">
        <img width="20" src="../../style/images/lock-orange.png" alt="lock">
      </div>
    </div>
    <!--    <div class="foot_text">-->
    <!--	Copyright (c) 2005-2016 <b><a href="http://uiec.ru" style="text-decoration:none;color:#5F6A83;">Institute of Economics</a></b>, the Ural branch of the RAS. All rights reserved.<br />-->
    <!--      <a class="foot_link" href="http://economy.local:8888/contacts/">Contacts</a> </div>-->
    <div class="foot_right"> <img src="../../style/images/foot3.jpg" alt="" /> </div>
  </div>
</div>
</body>
</html>