<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
  <!--[if IE 6]>

 <style>
 #menu ul.menu li ul.submenu {display: block; float: none; width:210px; margin-left:-145px;}
 #container {
	width: 90%;
	float: left;
	margin-right: -248px;
}
#content {

	margin-right: 248px;
}
.publications {width:63%}
.head1 {padding-top:7px;}
 .head2 {padding-top:7px;}
</style>
<![endif]-->

<!--[if IE 7]>

 <style>
 #menu ul.menu li ul.submenu {display: block; float: none; width:210px; margin-left:-145px;}
 .head1 {padding-top:7px;}
 .head2 {padding-top:7px;}
</style>
<![endif]-->
<title></title>
<meta http-equiv="Content-Type" content="text/html; windows-1251" /> 
<link rel='stylesheet' href='style.css' type='text/css'>
<style type="text/css" media="screen">

</style>
</head>

<body>
<div id="header">
<div id="wrapper_head" >
<div class="head1"><img src="images/head1.png" alt=""/></div>
<div class="head_items">
<div id="book"><img src="images/book.png" alt="" ></div>
<div id="search"> <form action="" method="POST"> <input type="text" class="search_field" value="поиск по сайту..." >&nbsp;<input type="submit" class="search_button" value="Ќайти" ></form></div>
<div id="n"><img src="images/n.png" alt="" ></div>
<div id="logo"><img src="images/logo.png"  alt=""></div>
</div>
<div class="head2"><img src="images/head3.png" alt=""></div>
</div>

<div id="line"></div>
 


<div  class="menu_main">
<div id="wrapper_menu">
<div id="menu_list">
<div id="menu" >

<ul class="menu">

    <li><a class="menu_links" href="#">–аздел 1</a>
              <ul class="submenu">
                 <li> 
                  <div class="pop_up_pic"><img src="images/menu_pop_top.png" alt=""/></div>
                 <div class="pop_links" ><a href="#" title="Ёлемент 1.1">Ёлемент 12.1</a></div>
	               <div class="pop_links" ><a href="#" title="Ёлемент 1.2">Ёлемент 1.2</a></div>
	               <div class="pop_links" ><a href="#" title="Ёлемент 1.3">Ёлемент 1.3</a></div>
	               <div  class="pop_up_pic2"><img src="images/menu_pop_bottom.png" alt=""/></div>
                 </li>
                  
             </ul>
    </li>
    <li><img src="images/menu_slice.png" alt=""/></li>
    <li><a class="menu_links" href="#" >ќ конкурсе</a>            
             <ul class="submenu">
              <li> 
                  <div class="pop_up_pic"><img src="images/menu_pop_top.png" alt=""/></div>
                 <div class="pop_links" ><a href="#" title="Ёлемент 1.1">Ёлемент 12.1</a></div>
	               <div class="pop_links" ><a href="#" title="Ёлемент 1.2">Ёлемент 1.2</a></div>
	               <div class="pop_links" ><a href="#" title="Ёлемент 1.3">Ёлемент 1.3</a></div>
	               <div  class="pop_up_pic2"><img src="images/menu_pop_bottom.png" alt=""/></div>
                 </li>
                  
             </ul>
    </li>
    <li><img src="images/menu_slice.png" alt=""/></li>
    <li><a class="menu_links" href="#">ѕравила участи€</a>            
            <ul class="submenu">
             <li> 
                  <div class="pop_up_pic"><img src="images/menu_pop_top.png" alt=""/></div>
                 <div class="pop_links" ><a href="#" title="Ёлемент 1.1">Ёлемент 12.1</a></div>
	               <div class="pop_links" ><a href="#" title="Ёлемент 1.2">Ёлемент 1.2</a></div>
	               <div class="pop_links" ><a href="#" title="Ёлемент 1.3">Ёлемент 1.3</a></div>
	               <div  class="pop_up_pic2"><img src="images/menu_pop_bottom.png" alt=""/></div>
                 </li>
                  
             </ul>
    
    </li>
<li><img src="images/menu_slice.png" alt=""/></li>
    <li><a class="menu_links" href="#">”частницы</a>            
             <ul class="submenu">
            <li> 
                  <div class="pop_up_pic"><img src="images/menu_pop_top.png" alt=""/></div>
                 <div class="pop_links" ><a href="#" title="Ёлемент 1.1">Ёлемент 12.1</a></div>
	               <div class="pop_links" ><a href="#" title="Ёлемент 1.2">Ёлемент 1.2</a></div>
	               <div class="pop_links" ><a href="#" title="Ёлемент 1.3">Ёлемент 1.3</a></div>
	               <div  class="pop_up_pic2"><img src="images/menu_pop_bottom.png" alt=""/></div>
                 </li>
                  
                  
             </ul>
    </li>
    <li><img src="images/menu_slice.png" alt=""/></li>
    <li><a class="menu_links" href="#">Ќовости</a>            
             <ul class="submenu">
      <li> 
                  <div class="pop_up_pic"><img src="images/menu_pop_top.png" alt=""/></div>
                 <div class="pop_links" ><a href="#" title="Ёлемент 1.1">Ёлемент 12.1</a></div>
	               <div class="pop_links" ><a href="#" title="Ёлемент 1.2">Ёлемент 1.2</a></div>
	               <div class="pop_links" ><a href="#" title="Ёлемент 1.3">Ёлемент 1.3</a></div>
	               <div  class="pop_up_pic2"><img src="images/menu_pop_bottom.png" alt=""/></div>
                 </li>
                  
             </ul>
    </li>
    <li><img src="images/menu_slice.png" alt=""/></li>
    <li><a class="menu_links" href="#">ќрганизаторы</a>            
             <ul class="submenu">
            <li> 
                  <div class="pop_up_pic"><img src="images/menu_pop_top.png" alt=""/></div>
                 <div class="pop_links" ><a href="#" title="Ёлемент 1.1">Ёлемент 12.1</a></div>
	               <div class="pop_links" ><a href="#" title="Ёлемент 1.2">Ёлемент 1.2</a></div>
	               <div class="pop_links" ><a href="#" title="Ёлемент 1.3">Ёлемент 1.3</a></div>
	               <div  class="pop_up_pic2"><img src="images/menu_pop_bottom.png" alt=""/></div>
                 </li>
                  
             </ul>
    </li>
    <li><img src="images/menu_slice.png" alt=""/></li>
    <li><a class="menu_links" href="#">ѕартнеры</a>            
             <ul class="submenu">
 <li> 
                  <div class="pop_up_pic"><img src="images/menu_pop_top.png" alt=""/></div>
                 <div class="pop_links" ><a href="#" title="Ёлемент 1.1">Ёлемент 12.1</a></div>
	               <div class="pop_links" ><a href="#" title="Ёлемент 1.2">Ёлемент 1.2</a></div>
	               <div class="pop_links" ><a href="#" title="Ёлемент 1.3">Ёлемент 1.3</a></div>
	               <div  class="pop_up_pic2"><img src="images/menu_pop_bottom.png" alt=""/></div>
                 </li>
                  
             </ul>
    </li>
</ul>
</div>

</div>
</div>
</div> 





<div id="container">
	<div id="content">
<div class="number">
<span class="title_content">ѕоиск</span>
<hr>
</div>
<div id="search_bg" >
<div id="search_bg_mar" style="margin-left:2%">
<div class="search_bg_left"></div>
<div class="search_bg_center">
<div class="forma">
<table>
<tr>
<td>
autor
</td>
<td>
<input class="input" type="text">
</td>
</tr>
<tr>
<td>
Journal
</td>
<td>
<select>
<option>---</option>
</select>
</td>
</tr>
<tr>
<td>
article title
</td>
<td>
<input class="input" type="text">
</td>
</tr>
<tr>
<td>
article description
</td>
<td>
<input class="input" type="text">
</td>
</tr>
<tr>
<td>
article text
</td>
<td>
<input class="input" type="text">
</td>
</tr>
<tr>
<td>
article subject
</td>
<td>
<select>
<option>---</option>
</select>
</td>
</tr>
</table>
<input class="find_button" type="image" value="submit" src="images/submit.png">
</div>

</div>
<div class="search_bg_right"></div>
 <div style="clear:both;"></div>
</div>


</div>
	
	</div>
</div>

<div id="sidebar">
			 <div class="news_head" ><img src="images/right_top.png" alt=""/>
</div>
<div class="right_bg">
<div class="right_news_title">
<div class="right_news_title_text">Ќовости</div>
</div>
<div class="in_right_text">12.12.12</div>
<div class="in_right_text2"><a href="">Ќесмотр€ на незначительную распространенность заболевани€, смертность при акромегалии (при отсутствии своевременной диагностики и адекватного </a></div>
<div class="right_content_info_slice">
</div>
<div class="in_right_text">12.12.12</div>
<div class="in_right_text2"><a href="">Ќесмотр€ на незначительную распространенность заболевани€, смертность при акромегалии (при отсутствии своевременной диагностики и адекватного </a></div>
<div class="right_news_end"></div>
</div>
<div style="height:20px;width:1px;"></div>
<div class="news_head"><img src="images/right_top.png" alt=""/></div>
<div class="right_bg">           
<div class="right_banner_title">
<div class="right_news_title_text">Ѕаннеры</div>
</div>
<div class="right_content_info">
<a class="in_right" href="#" alt="" >text_link</a>
</div>
<div class="right_content_info_slice">
</div>
<div class="right_content_info">
<a href="#" alt="" ><img src="images/banner.png" alt="" /></a>
</div>
<div class="right_content_info">
<a class="in_right" href="#" alt="" >text_link</a>
</div>
<div class="right_content_info_slice">
</div>
<div class="right_content_info">
<a href="#" alt="" ><img src="images/banner.png" alt="" /></a>
</div>
<div class="right_news_end"></div>
</div>
		</div>
<div id="footer">
 <div class="footer">
<div class="foot_left" ><img src="images/foot1.jpg" alt=""/></div>
<div class="foot_text">2010. Ёлектронный журнал <b>УЁкономика регионаФ</b><br/>
 јдрес: 620014, г. ≈катеринбург, ул. ћосковска€, 29. »нститут экономики ”ральского отделени€ –јЌ<br/>
<a class="foot_link"  href="" >”слови€ использовани€ материалов</a></div>
<div class="foot_right"><img src="images/foot3.jpg" alt=""/></div>
</div></div>

</body>
</html>